# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.ruff_cache/
.mypy_cache/
.pytest_cache/

# Jupyter
.ipynb_checkpoints/
notebooks/*-checkpoint.ipynb

# Data & models
data/
models/
artifacts/

# OS / IDE
.DS_Store
.vscode/
.idea/


# Global Project Secrets (Catch-all)
**/token.json
**/credentials.json
#**/*.json
**/.env
**/.env.*

# Statement Sentry Secrets
projects/statement_sentry/credentials.json
projects/statement_sentry/token.json
projects/statement_sentry/data/
.env

# AI Hub Secrets & Data
token.json
projects/ai_hub/chat_history.json